.button {
	-fx-background-color: transparent;
    -fx-background-size: 50%;
    -fx-background-position: center;
	-fx-background-repeat: no-repeat no-repeat;
}

.button:hover {
	-fx-cursor: hand;
}

.volume-button {
	-fx-background-color: transparent;
	-fx-background-size: 100%;
	-fx-min-height: 30px;
	-fx-min-width: 30px;
}

.volume-button:hover {
	-fx-background-color: transparent;
}